body {
	font-family: tahoma, arial, 宋体;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
}
div {
	display: block;
}
.items a {
	width: 272px;
	height: 345px;
	position: relative;
	padding-top: 10px;
	float: left;
	border-color: #DADADA;
	border-style: dotted;
	border-width: 1px;
}
a, a:visited {
	color: #29A5C9;
	text-decoration: none;
}
.items a img {
	vertical-align: middle;
	width: 220px;
	margin: 0 auto;
	display: block;
}
.items a p {
	text-align: center;
}
.items a .title {
	width: 220px;
	height: 36px;
	overflow: hidden;
	margin: 5px auto;
	color: #2AAACF;
}
.items a:hover {
	background-color: #ECECEC;
}
.items a:hover .title {
	text-decoration: underline;
}
.items a .sales {
	width: 250px;
	margin: 0 auto;
	color: #999;
}
.items a .sales .coin {
	font-size: 12px;
	font-weight: normal;
	color: #333;
}
.items a .sales em {
	background-position: 0 8px;
	font-size: 18px;
	font-weight: normal;
	font-family: Arial;
	color: #DC350E;
}
.items a .highlight{
	padding: 5px;
	border: 1px solid #D8D8D8;
	color: #DC3610;
	cursor: pointer;
}
#start {
	float: left;
	display: inline;
}
#task {
	width: 300px;	
	overflow: hidden;
}
.controller {
	height: 34px;
}
ul {
	list-style: none;
	margin-left: 50px;
}
li {
	float: left;
	display: inline;
	padding: 0 10px;
	height: 15px;
	line-height: 15px;
	border-left: 1px solid #D5D5D5;
	margin-top: 5px;
	color: #333;
	text-align: justify;
}
.type {
	width: 1076px;
	float: left;
	font-family: 'Open Sans',arial,sans-serif;
	font-size: 14px;
	padding: 10px;
	margin-top: 5px;
	background-color: #ECECEC;
}
.search {
	float: right;
}
.main {
	width: 1096px;
	margin: auto;
}