<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet-mapping>
		<servlet-name>PriceMonitor</servlet-name>
		<url-pattern>/pricemonitor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PriceMonitor</servlet-name>
		<servlet-class>com.morntea.web.pricemonitor.PriceMonitorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PriceDisplayer</servlet-name>
		<url-pattern>/pricedisplayer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PriceDisplayer</servlet-name>
		<servlet-class>com.morntea.web.pricemonitor.PriceDisplayerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBook</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBook</servlet-name>
		<servlet-class>com.morntea.web.pricemonitor.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProduct</servlet-name>
		<url-pattern>/addproduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddProduct</servlet-name>
		<servlet-class>com.morntea.web.pricemonitor.AddProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PriceDisplayer</servlet-name>
		<url-pattern>/price.html</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
