<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet-mapping>
		<servlet-name>PriceMonitor</servlet-name>
		<url-pattern>/pricemonitor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PriceDisplayer</servlet-name>
		<url-pattern>/pricedisplayer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBook</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PriceMonitor</servlet-name>
		<servlet-class>com.morntea.web.pricemonitor.server.PriceMonitorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PriceDisplayer</servlet-name>
		<servlet-class>com.morntea.web.pricemonitor.server.PriceDisplayerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBook</servlet-name>
		<servlet-class>com.morntea.web.pricemonitor.server.AddBookServlet</servlet-class>
	</servlet>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>PriceMonitor.html</welcome-file>
	</welcome-file-list>

</web-app>
