body {
	background-color: #DCE6EB;
	font: 15px/1.5 Tahoma, Helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
}

#logoField {
	background-color: #008000;
	height: 100px;
}

#shortcutField {
	background-color: #505050;
}

#shortcutContentField {
	position: relative;
	width: 600px;
	height: 25px;
	line-height: 25px;
	vertical-align:middle;
	margin: auto;
}

#shortcutField a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
}

.contentField {
	clear: both;
	width: 600px;
	background-color: #DDEDFB;
	border: thin solid darkgray;
	margin: 50px auto;
}
	.contentTitleField {
		background-color: #EAECEC;
		height: 23px;
		line-height: 23px;
		font: 14px/1.5 Times;
		font-style: italic;
		vertical-align: middle;
		border-bottom: thin solid darkgray;
		padding-left: 10px;
	}
	.contentContentField {
		position: relative;
		width: 400px;
		line-height: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 80px;
	}
		.contentContentField label {
			display: inline-block;
			width: 80px;
			text-align: right;		
		}
		.contentContentField .textInput {
			width: 180px;
		}
		
		.contentContentField label.error {
			margin-left: 24px;
			width: auto;
			display: inline;
			color: red;
			font-size: 13px;
			font-style: italic;
		}
		.contentContentField .buttonInputField {
			padding-left: 85px;
		}
		.contentContentField .link {
			font-size: 13px;
			width: 100px;
			display: inline-block;
			text-align: center;
			margin-left: 18px;
			color: blue;
		}
		.contentContentField .checkInputField {
			font-size: 13px;
			padding-left: 82px;
		}
		.contentContentField .firstButton {
			width: 80px;
			padding: 0;
			font: 13px/1.5 Verdana;
			background-color: lightblue;
			border: thin solid darkgray;
			cursor: pointer;
		}
		.contentContentField .button {
			width: 80px;
			margin-left: 18px;
			padding: 0;
			font: 13px/1.5 Verdana;
			background-color: lightblue;
			border: thin solid darkgray;
			cursor: pointer;
		}